* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    border-bottom: 3px solid black;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px;
}

.logo {
    width: 230px;
}

li.headerMenu__item {
    display: inline-block;
}

li.headerMenu__item a {
   padding: 12px 15px;
    color: #373737;
    text-decoration: none;
}

li.headerMenu__item a:hover {
    background: #373737;
    color: white;
}

li.headerMenu__item-active a {
    background: #373737;
    color: white;
}

.mainBunner {
    margin-top: 50px;
    background: grey;
}


.userAction__icon {
    width: 33px;
}