* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
}

li.headerMenu__item {
    display: inline-block;
}

li.headerMenu__item a {
   padding: 12px 15px;
    color: #373737;
    text-decoration: none;
}

li.headerMenu__item a:hover {
    background: #373737;
    color: white;
}
.mainBunner__title {

}

li.headerMenu__item-active a {
    background: #373737;
    color: white;
}

.mainBunner {
    margin-top: 50px;
    background: white;
}

.mainBunnerTextblock {
    width: 30%;
    float: left;
    color: #7c7c7c;
}
.mainBunner__subTitle {
    font-size: 20px;
}
.mainBunner__userAction {
    background-color: black;
    padding: 6px;
    width: 60%;
}
.userAction__icon img {
    float: left;
    width: 20%;
}
.userAction__text {
    width: 66%;
    margin-left: 28%;
}
.mainBunnerImgContent img {
    width: 70%;
}
main {
    display: flex;
    align-items: flex-start;
}
.articlesBlock {

    width: 80%;
    /*background: lightgray;*/
    padding-right: 25px;
}
.mainArticles__img{
    width: 310px;
    min-width: 310px;
    margin-right: 25px;
}
.mainArticles{
    display: flex;
}
.mainArticlesMeneger img {
    width: auto;
}

.mainArticlesManeger {
    display: flex;
    margin-left: auto;
}
.mainArticles__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainArticlesManager__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
}

.mainArticlesManager__arrow-left {

    background: #7c7c7c;
}
.mainArticlesManager__arrow-right {

    background: #989898;
}

.sidebar {
    height: 100%;
    width: 30%;
    background: gray;

}

.blogtext {
    width: 30%;
    padding: 10px;
    float: left;
}

.footer {
    width: 100%;
    background: #3a3a3a;
    height: 100px;
    margin-top: 250px;
    clear: both;
}
.probel {
    width: 20%;
    float: left;
    height: 100px;
}
.copy {
    color: white;
    text-align: center;
    width: 58%;
    float: left;
    }
.copy p {
    padding-top: 50px;
    float: left;
    width: 100%;
}
.social {
    width: 20%;
    float: right;
    height: 50px;
    padding-top: 50px;

}

/***/

.blogimg_1{
    background: #86e7f0;
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    
    
}

.blogimg_2{
    background: #3a3a3a;
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    
    
}
.blogr{
    float: right;
    border: 1px solid red;
    width: 30%;
    
}


.blog {
    width: 60%;
    border: 1px solid red;
    float: left;
}

.cirle{
    width: 120px; height: 120px;
    background: #ef80a0;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #ffffff;
    top: -26px;
    left: 92px;
}

.c_numb{
    
      font-size: 50px;
    color: #ffffff;
    position: absolute;
    top: 28%;
    left: 25%;
}

.text_in_block{
    position: absolute;
    top:100px;
    left: -6px;
    
}

.blogimg_1 .text_in_block{
    position: absolute;
    top:100px;
    left: -6px;
    
}

.blogimg_2 .text_in_block{
    position: absolute;
    top:20px;
    left: -6px;
    
}

.blogimg_1 #t1{
    color: #ffffff;
    font-size: 46px;
    
}

.blogimg_1 #t2{
    color: #ffffff;
    font-size: 26px;
    
}
.blogimg_1  #t3{
    color: #ffffff;
    background-color: #ef80a0;
    padding: 15px 47px 15px 42px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 130px;
    left: 28%;
}

.blogimg_2 #t1{
    color: #ffffff;
    font-size: 36px;
    
}

.blogimg_2 #t2{
    color: #ffffff;
    font-size: 16px;
    
}
.blogimg_2  #t3{
    color: #ffffff;
    background-color: #ef80a0;
    padding: 15px 47px 15px 42px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 213px;
    left: 28%;
}

.inp{
    position: absolute;
    top: 106%;
    left: 2%;
    width: 100%;
    margin-top: 10px;
    
    
}


.inp input{
    
    width: 80%;
    height: 25px;
    margin-top: 10px;
    
    
}